<!DOCTYPE html>
<html lang="en" >
<head>

    <title>GitFolio</title>
<style>
    .back_container{
    position: relative;
}
.face{
    position: relative;
 /*+수 커질수록 밑으로 내려감*/
    top:-100px;
    margin-bottom:-80px;
    text-align : center;
}
div#main_content{
    padding-top:30px;
    height:300px;
    
}
.aa{
    text-align : center;
}
</style>
</head>

<body style="overflow-y:auto;" >
 
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand " href="#page-top">GitFolio</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#portfolio">My Page</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#contact">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
       
    <div class="back_container;">
     <img src=<%= asset_path 'ddd.jpg'%> alt=" 배경사진 " height="380px" width="100%" >
    </div>
    
    
    <div class = "face">  
    <img class = "face_image" src=<%= asset_path 'DSC01965.JPG'%> alt="얼굴사진"height="150px" width ="150px" style="display:inline-block;border-radius: 70px; padding:0px;margin:0px;">
    </div>
    <div id="main_content" >
<div class="aa">
    포트폴리오를 만들 Github 아이디를 입력하세요.
    <br><br>
     <form name="form_name" action="/folio/create" method="post" style="text-align:center">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <input type="text" name="input_name" placeholder="Please enter your Github ID" class="form-control col-md-3" style="display:inline-block" >
       <input type="submit" value="Submit" class="btn btn-primary">
       <br>
     </form>
</div>
</div>

  <footer class="footer">
     <div class="container">
      <small>
        <a href="https://github.com/HyeRyeongKang/gitfolio">Gitfolio</a>
        <a href="https://likelion.net">likelion Homepage</a>
      </small>
      
      <nav>
        <ul>
          <li><%= link_to 'main', '#'%></li>
          <li><%= link_to 'my page', '#'%></li>
          <li><%= link_to 'logout', '#'%></li>
        </ul>
      </nav>
      </div>
  </footer>
</body>

</html>