<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Workspace</title>
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <%= stylesheet_link_tag    'application', media: 'all' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= csrf_meta_tags %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<%= yield %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
<!-- Bootstrap core JavaScript -->

</body>
</html>
